body {
    background-color: #7fffd4;
    font-size: 15px;
    /* margin: 0 auto; */
}

html,
body {
    height: 100%;
    margin: 0;
}

.margin-sides-10 {
    margin-right: 10px;
    margin-left: 10px;
    display: inline;
}

.margin-vert-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.controls {
    background-color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .controls li {
    display: inline-block;
} */
/* .block {
    display: inline;
} */
.button {
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    width: 40px;
}
.button:active {
    color: darkgray;
}

.caption {
    padding: 5px;
    width: 20px;
    text-align: center;
}

.play-button {
    border-radius: 50%;
    background-color: black;
    font-size: 30px;
    padding: 10px;
    float: right;
    color: white;
    width: auto;
}

.hidden {
    display: none;
}
